//-
	@file Defines an RSVP with your face mixin

//- Dependencies

//- Definition
mixin rsvp_form()

	.rsvp_form&attributes(attributes)
		form(method="POST" action="/submit.php")
			fieldset
				ul
					li.rsvp_form_webcam
						a.rsvp_form_camera(href="#")
							span.rsvp_form_camera_hint
								span Click here to enable webcam and RSVP with your face!
							span.rsvp_form_camera_img
							span.rsvp_form_camera_result
						a(href="#").rsvp_form_shutter ✔ &nbsp;Take photo
						a(href="#").rsvp_form_reset ↻ Cracked the webcam? Retake!
					li
						label(for="name") Name(s)
						input(id="name" type="text" name="name")
					li.rsvp_form_attending
						label Are you coming?
						input(id="attending_yes" name="attending" type="radio" value="yes")
						label(for="attending_yes").label_check Yes 
						input(id="attending_no" name="attending" type="radio" value="no")
						label(for="attending_no").label_check No
					li
						label(for="song") Suggest a song for our playlist
						input(id="song" type="text" name="song")
					li
						label(for="extra") Anything else we should know, or any questions?
						textarea(id="extra" name="extra")

				.rsvp_form_actions
					button(type="submit" id="submit" name="submit" style="border-left: 0; border-right: 0;") Send!
					a(href="#" class="rsvp_form_cancel" style="border-left: 0; border-right: 0;" data-modal-hide) Cancel
