/**
 * @file Base styles
 * @author Tom Jenkins tom@itsravenous.com
 */

body {
	font-family: $font_family;
	margin: 0;
	padding: 0;
}

del {
	text-decoration: line-through;
}
ins {
	text-decoration: none;
}