/**
 * @file Settings
 * @author Tom Jenkins tom@itsravenous.com
 */

// Typography
$font_family: 'Milonga', serif;
$font_family_alt: 'Libre Baskerville', serif;

// Spacing units
$wsunit: 2rem;

// Colours
$blue1: #204080;
$grey1: #c0c0c0;