/**
 * @file Defines styles for a Modal component
 */

// Content wrapper
.modal_content {
	// Styles
	background: url('/img/corner_nw.svg') 0 0 no-repeat,
		url('/img/corner_ne.svg') 100% 0 no-repeat,
		url('/img/corner_se.svg') 100% 100% no-repeat,
		#fff url('/img/corner_sw.svg') 0 100% no-repeat;

	// Layout
	overflow: auto;
	padding: $wsunit / 2;
	@media screen and (min-width: 40rem) {
		padding: $wsunit;
	}
}

// Root element
.modal {
	// Styles
	background: rgba(0, 0, 0, 0.5);
	// Layout
	.modal_content {
		max-height: 100%;
	}

	// Narrow viewport layout
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	// State
	transition: transform 0.3s;
	transform: translateY(100%);
	&.is_active {
		transform: translateY(0);
	}

	// Wide viewport layout
	@media screen and (min-width: 40rem) {
		// Layout
		@include center_single_child_x;

		// Self-layout
		position: fixed;
		left: -9999px;
		top: 0;
		bottom: 0;
		right: auto;

		// State
		transition: none;
		.modal_content {
			transition: max-height 0.5s;
			max-height: 0;
			overflow: hidden;
		}
		&.is_active {
			left: 0;
			right: 0;
			.modal_content {
				max-height: 60rem;
			}
		}
	}
	@media screen and (min-height: 40rem) {
		@include center_single_child_y;
	}
}