/**
 * @file Defines styles for a Main header component
 */

// Root element
.main_header {
	text-align: center;
	// Layout
	img {
		width: 12rem;
		@media screen and (max-width: 25rem) {
			width: 10rem;
		}
	}

	h1 {
		max-width: 14em;
		margin: 0 auto;
	}
}
