//-
	@file Defines a RSVP with your face mixin

//- Dependencies

//- Definition
mixin face_rsvp()

	article.face_rsvp
		h1 RSVP with your face
		p Click the button to access your webcam. If you're RSVPing for multiple people, make sure everyone's in the shot!
		
