//-
	@file Defines a RSVP with your face mixin

//- Dependencies

//- Definition
mixin face_rsvp()

	article.face_rsvp(style="width: 320px; height: 260px;")
		.face_rsvp_camera
		.face_rsvp_result
		a(href="#").face_rsvp_reset Retake
		a(href="#").face_rsvp_shutter Take photo
