/**
 * @file Defines styles for a Browser bar component
 */

.browser_bar {
	// Styles
	background: rgb(255, 255, 128);
	color: rgb(64, 12, 0);
	font-weight: bold;
	font-style: italic;

	// Layout
	padding: 1em;
	text-align: center;

	// Self layout
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
