//-
	@file Defines a Browser bar mixin

//- Dependencies

//- Definition
mixin browser_bar()

	div.browser_bar
		h1 Uh-oh!
		p The web browser you are using is very old, meaning our beautiful wedding website won't look quite so beautiful and may not even function.
		p
			| Don't worry - you can either upgrade to a 
			a(target="blank" href="http://browsehappy.com") modern browser
			|  or RSVP to us via email (tomkevinjenkins@gmail.com) or text.
