/**
 * @file Defines styles for a RSVP component
 */

// Intro
.rsvp_intro {
	font-size: 1.25rem;
}

// Buttons
.rsvp_yes,
.rsvp_no {
	@extend %button;
}

.rsvp_answers {
	list-style: none;
	>li {
		display: inline-block;
	}
	> li:first-child {
		margin-right: 2rem;
	}
	> li:last-child {
		margin-left: 2rem;
	}
}

// Root element
.rsvp {
	// Layout
	text-align: center;
	> h1,
	.rsvp_intro {
		margin-bottom: $wsunit;
	}
}