/**
 * @file Defines styles for a RSVP component
 */

// Intro
.rsvp_intro {
	font-size: 1.25rem;
}

// Buttons
.rsvp_yes,
.rsvp_no {
	@extend %button;
}

.rsvp_answers {
	list-style: none;
	margin: 0;
	padding: 0;

	>li {
		display: block;
		width: 100%;
		margin-bottom: $wsunit / 2;

		&:first-child:after {
			display: block;
			margin-top: $wsunit / 2;
			font-family: $font-family_alt;
			content: 'or'
		}
	}
	@media screen and (min-width: 40rem) {
		>li {
			display: inline-block;
			width: auto;
		}
		> li:first-child {
			&:after {
				display: inline-block;
				margin: 0 $wsunit / 2;
			}
		}
	}
}

// Root element
.rsvp {
	// Layout
	text-align: center;
	> h1,
	.rsvp_intro {
		margin-bottom: $wsunit;
	}
}