//-
	@file Defines a Map mixin

//- Dependencies

//- Definition
mixin map()

	section.map
		h1 Travel &amp; Accommodation
		p.map_intro There are several places to stay nearby Rowton Castle. If you need any advice, let us know.
		.map_canvas
